<a href="https://colab.research.google.com/github/anupam1982-bd/anupam1982-bd/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}

In [ ]:
type (students_data)

dict

In [ ]:
lt=[]
for val in students_data.values():
  print(val[1])
  lt.append(val[1])
print(lt)

24
25
26
24
27
[24, 25, 26, 24, 27]

In [ ]:
test = range(1,10)
print (list(test))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(19,171,19))

[19, 38, 57, 76, 95, 114, 133, 152]

In [ ]:

l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [ ]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [ ]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

In [ ]:
l2 = []
for words in l1:
  print(words.upper())
  l2.append(words.upper())
print (l2)

AUTOMOBILES
HONDA
BENZ
SUZUKI
MORRIS GARAGES
['AUTOMOBILES', 'HONDA', 'BENZ', 'SUZUKI', 'MORRIS GARAGES']

In [ ]:
l2 = [words.upper() for words in l1]
l2

['AUTOMOBILES', 'HONDA', 'BENZ', 'SUZUKI', 'MORRIS GARAGES']

In [ ]:
n = int(input("Enter any number :"))

Enter any number :11

In [ ]:
l1 = list(range(1,n+1))
print(l1)
l2 = []
for i in l1:
  i = i*i
  l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [ ]:
l2 = [i*i for i in list(range(1,n+1))]
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [ ]:
input_list = ['wood','old','apple','big','item','euphoria']
list_vowel =[]
vowels = ['a','e','i','o','u']
for char in input_list:
  for i in char[0]:
    if i in vowels:
      list_vowel.append(char)
print(list_vowel)

['old', 'apple', 'item', 'euphoria']

In [ ]:
list_vowel =[char for char in input_list for i in char[0] if i in ['a','e','i','o','u']]
list_vowel

['old', 'apple', 'item', 'euphoria']

In [ ]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [ ]:
name_lst = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
capital = []
for word in name_lst:
  capital.append(word.capitalize())
print(capital)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [ ]:
input_list = ['2','2']
x = int(input_list[0])
y = int(input_list[1])

In [ ]:
def sqaured(x,y):
  sqr = x**y
  return sqr

In [ ]:
sqaured(3,4)

81

In [ ]:
a=10
b=9

greater = lambda a,b : a if a>b else b

greater(a,b)

10

In [ ]:
min = lambda x, y: x if x < y else y

In [ ]:
min(101*99, 102*98)

9996

In [ ]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [ ]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

list(filter(lambda x : x[1] > 18, students_data.values()))

[['Cornor', 19], ['Trump', 20]]

In [ ]:
wrd = str(input("Enter a word :"))
lst = ['r']
if lst[0] in wrd:
    print("belongs to team r")
else :
        print("does not belongs to team r")

Enter a word :word
belongs to team r

In [ ]:
# write code here 
wrd = str(input("Enter a word :"))
lst1 = ['r']
lst2 = ['b']
for i in wrd :
  if i == lst1[0]:
    print("it is red team") 
    break
  if i ==  lst2[0]:
    print("blue team")
    break
else:
  print("no team")

Enter a word :woxx
no team