<a href="https://colab.research.google.com/github/anupam1982-bd/anupam1982-bd/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}

In [8]:
type (students_data)

dict

In [51]:
lt=[]
for val in students_data.values():
  print(val[1])
  lt.append(val[1])
print(lt)

24
25
26
24
27
[24, 25, 26, 24, 27]

In [36]:
test = range(1,10)
print (list(test))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
list(range(19,171,19))

[19, 38, 57, 76, 95, 114, 133, 152]

In [43]:

l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [52]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [53]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

In [58]:
l2 = []
for words in l1:
  print(words.upper())
  l2.append(words.upper())
print (l2)

AUTOMOBILES
HONDA
BENZ
SUZUKI
MORRIS GARAGES
['AUTOMOBILES', 'HONDA', 'BENZ', 'SUZUKI', 'MORRIS GARAGES']

In [60]:
l2 = [words.upper() for words in l1]
l2

['AUTOMOBILES', 'HONDA', 'BENZ', 'SUZUKI', 'MORRIS GARAGES']

In [64]:
n = int(input("Enter any number :"))

Enter any number :11

In [76]:
l1 = list(range(1,n+1))
print(l1)
l2 = []
for i in l1:
  i = i*i
  l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [78]:
l2 = [i*i for i in list(range(1,n+1))]
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [88]:
input_list = ['wood','old','apple','big','item','euphoria']
list_vowel =[]
vowels = ['a','e','i','o','u']
for char in input_list:
  for i in char[0]:
    if i in vowels:
      list_vowel.append(char)
print(list_vowel)

['old', 'apple', 'item', 'euphoria']

In [91]:
list_vowel =[char for char in input_list for i in char[0] if i in ['a','e','i','o','u']]
list_vowel

['old', 'apple', 'item', 'euphoria']

In [93]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [97]:
name_lst = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
capital = []
for word in name_lst:
  capital.append(word.capitalize())
print(capital)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [106]:
input_list = ['2','2']
x = int(input_list[0])
y = int(input_list[1])

In [113]:
def sqaured(x,y):
  sqr = x**y
  return sqr

In [114]:
sqaured(3,4)

81

In [123]:
a=10
b=9

greater = lambda a,b : a if a>b else b

greater(a,b)

10

In [125]:
min = lambda x, y: x if x < y else y

In [126]:
min(101*99, 102*98)

9996

In [7]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [5]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

list(filter(lambda x : x[1] > 18, students_data.values()))

[['Cornor', 19], ['Trump', 20]]

In [79]:
wrd = str(input("Enter a word :"))
lst = ['r']
if lst[0] in wrd:
    print("belongs to team r")
else :
        print("does not belongs to team r")

Enter a word :word
belongs to team r

In [100]:
# write code here 
wrd = str(input("Enter a word :"))
lst1 = ['r']
lst2 = ['b']
for i in wrd :
  if i == lst1[0]:
    print("it is red team") 
    break
  if i ==  lst2[0]:
    print("blue team")
    break
else:
  print("no team")

Enter a word :woxx
no team

In [102]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]
len_test = len(sample_list)
print(len_test)
new_list = [sample_list[i]+13 for i in range(1,len_test)]
new_list

14

[111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

In [166]:
def factor_num(inp) :
 n = inp
 lst_1=[]
 for i in range(1,n+1):
  a = inp%i
  if (a == 0): 
   lst_1.append(i)
 return lst_1

In [220]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]
len_sample = len(sample_list)
dict = {}
for i in range (0,len_sample):
    a=(sample_list[i])
    factor_num(a)
    dict[a]=factor_num(a)
print(dict)

{6: [1, 2, 3, 6], 98: [1, 2, 7, 14, 49, 98], 34: [1, 2, 17, 34], 45: [1, 3, 5, 9, 15, 45], 64: [1, 2, 4, 8, 16, 32, 64], 7: [1, 7], 2: [1, 2], 5: [1, 5], 78: [1, 2, 3, 6, 13, 26, 39, 78], 90: [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90], 324: [1, 2, 3, 4, 6, 9, 12, 18, 27, 36, 54, 81, 108, 162, 324], 111: [1, 3, 37, 111], 657: [1, 3, 9, 73, 219, 657], 438: [1, 2, 3, 6, 73, 146, 219, 438]}

In [221]:
sample_sentence = "Pack my box with five dozen liquor jugs"
blank = [' ']
set_lst=[]
# write code here 
for i in sample_sentence :
    if i != blank[0]:
     set_lst.append(i)
set(set_lst)

{'P',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [12]:
def factor_num(inp) :
 n = inp
 lst_1=[]
 for i in range(2,n+1):
  a = inp%i
  if (a == 0):
   x =  inp//i
   lst_1.append(x)
 return lst_1

In [17]:
lst = sum(factor_num(75))

In [18]:
lst

49

In [45]:
# write code here

def add_list(l1,l2):
    l3 = []
    #len_l1=len(l1)
    for i in range(0,4):
        l_3 = l1[i]+l2[i]
        l3.append(l_3)
    return

In [46]:
l1 = [5, 8, 9, 12]
l2 = [10, 12, 8, 6]

In [50]:
def add_list_n(a1,a2):
    a3 = a1+a2
    return a3

In [51]:
list(map(add_list_n,l1,l2))

[15, 20, 17, 18]

In [56]:
get_elemts = lambda x : x[0] == 's' or x[0] == 'S'
get_elemts('s')

True

In [57]:
n_lst=['Santa Cruz','Santa fe','Mumbai','Delhi']

In [58]:
map(get_elemts,n_lst)

In [61]:
l_map=list(map(get_elemts,n_lst))
l_map.count(True)

2

In [73]:
input_list = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
first_name = input_list[0]
last_name = input_list[1]
print(first_name)

['Ankur', 'Avik', 'Kiran', 'Nitin']

In [70]:
full_name=lambda x,y: x+' '+y

In [71]:
full_name('abc','b')

'abc b'

In [74]:
full_name(first_name[0],last_name[0])

'Ankur Narang'

In [76]:
list(map(full_name,first_name,last_name))

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']